* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.parallax {
    background-image: url('../img/backgrounds/back2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* Ajustez la hauteur selon vos besoins */
    overflow: hidden;
    position: relative;
}

.parallax::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
}

.parallax-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: transform 0.5s ease;
    /* Ajoutez une transition de transformation */
}

.parallax:hover .parallax-content {
    transform: translateY(-50%) scale(1.3);
    /* Appliquez une transformation au survol */
}

.temp {
    background-color: green;
    height: 100vh;
}