@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@font-face {
    font-family: customFont;
    src : url('../fonts/autumn-in-november/Autumn\ in\ November.ttf')
}

* {
	font-family: "Montserrat", sans-serif;
	/* box-shadow: 0 0 0 1px red inset;  */
}

body {
	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar {
	width: 0.3em;
	background-color: #00b0f0;
}

body::-webkit-scrollbar-thumb {
	background-color: #FFFFFF;
	;
}

html {
	scroll-behavior: smooth;
}

/*-----------------Fonctions générales-------------------*/

.hidden {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
}

.visible {
	opacity: 1;
	visibility: visible;
}


/*-------------------------------------------------------*/

.top-page {
	background-image: url("../img/backgrounds/back2.jpg");
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
	position: relative;
}

.top-page::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.3))
}

/*__________________HEADER___________________*/

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px;
}

.header img {
	height: 70px;
	padding: 10px;
}

/*___________________NAVIGATION_______________*/

.navigation {
	margin-right: 80px;
	width: 500px;
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.navigation a {
	color: white;
	font-size: 20px;
	text-decoration: none;
	filter: drop-shadow(5px 5px 4px black);
}

.navigation a:hover {
	text-decoration: underline;
}

/*__________________GRAND TEXT_______________*/

.landing-page {
	padding-top: 0px;
	padding-left: 110px;
	width: 700px;
	min-height: 400px;
	color: white;
	font-size: 60px;
	position: relative;
}

.scroller {
	position: absolute;
	color: white;
	font-size: 20px;
	text-decoration: none;
	font-weight: normal;
	bottom: 0;
}

.landing-page .titre {
	font-family: "Abril Fatface", sans-serif;
	font-weight: 100;
	filter: drop-shadow(10px 10px 20px black);
}

.middle-page {
	max-width: 800px;
	min-height: 200px;
}

.OnlyGhibli {
	font-family: "Abril Fatface", sans-serif;
	font-weight: 100;
	text-decoration: underline;
}

/*_______________SERVICES___________________________*/

.service {
	display: flex;
	justify-content: space-between;
	margin: 50px;
	margin-bottom: 40px;
	padding-top: 40px;
	padding-left: 100px;
	padding-right: 100px;
	margin-top: 0;
}

.service-item {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.service-text {
	font-weight: 600;
	text-align: center;
}

.service-icon {
	font-size: 40px;
	color: #00AFF0;
}

/*_______________Oeuvres_________________*/

.oeuvres {
	margin: 40px;
}


.slider {
	height: 540px;
	position: relative;
	margin: auto;
	overflow: hidden;
	width: 100%;
}

/* .slider:hover > .slide-track{
	animation-play-state: paused;
} */

.slide-track {
	animation: scroll 60s linear infinite;
	display: flex;
	gap: 5px;
	width: 100%;
	position: relative;
}

.slider::before {
	position: absolute;
	background: linear-gradient(to right,  rgb(255, 255, 255) 0%, transparent 100%);
	content:"";
	height: 100%;
	width: 5%;
	top:0;
	left:0;
	z-index:2;
}

.slider::after {
	position: absolute;
	background: linear-gradient(to left,  rgb(255, 255, 255) 0%,rgba(255, 255, 255, 0) 100%);
	content:"";
	height: 100%;
	width: 5%;
	top:0;
	right:0;
	z-index:2;
}

.slide-element {
	height: 450px;
	position: relative;
	border-radius: 10px;
}

.slide-element:hover > .slide-element-titre {
	transform: scale(1.2);
	transition: all .5s;	
}

.slide-element:hover > .slide-affiche-film {
	transform: scale(1.1) rotate(10deg);
	transition: all .5s;	
}

.slide-element-titre {
	position: absolute;
	color: white;
	left: 75px;
	top: 100px;
	text-align: center;
	filter: drop-shadow(5px 5px 4px black);
}

.slide-affiche-film {
	position: absolute;
	right: 75px;
	top: 75px;
	filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));
	border-radius: 10px;
}

@keyframes scroll {
	0% {transform: translateX(0); }
	100% {transform: translateX(calc(-800px * 4 - 40px))}
}

/*_______________GHIBLI__________________*/

.best-items {
	margin: 40px;
}

.section-title {
	font-size: 50px;
	font-family: "customFont", cursive;
	font-weight: 100;
	position: relative;
}

.section-title::before {
	content: "";
	position: absolute;
	background-color: #00AFF0;
	width: 90px;
	height: 4px;
	top: 110%;
}

.best-ghibli {
	min-height: 500px;
	margin: 0 auto 0;
	display: flex;
	flex-wrap: wrap;
	gap: 3px;
	justify-content: space-between;
}

.ghibli-box {
	height: 400px;
	min-width: 300px;
	position: relative;
	background-size: cover;
	background-position: center;
	flex: 0.8;
	transition: all .5s;
}

.ghibli-box:hover {
	transform: scale(1);
	flex: 1;
	z-index: 2;
}

.ghibli-box:hover > .ghibli-details {
	color: #00AFF0;
	letter-spacing: 5px;
	transition: all .5s;
}

.ghibli1 {
	background-image: url("../img/wallpapers/setsuko.jpg");
}

.ghibli2 {
	background-image: url("../img/wallpapers/marnieWoodCrop.jpg");
}

.ghibli3 {
	background-image: url("../img/wallpapers/Chihiro_Among_Flowers.jpg");
}

.ghibli4 {
	background-image: url("../img/wallpapers/Howl.jpg");
}

.ghibli-details {
	background-color: #FFFFFFAF;
	width: 100%;
	color: #000000;
	position: absolute;
	bottom: 0;
	border-bottom: #00AFF0 solid 4px;
	text-align: center;
	font-size: 1.5rem;
}

.ghibli-name {
	margin: .5rem;
}

.ghibli-movie-name {
	font-size: 0.8rem;
	letter-spacing: 2px;
}

/*_______________bouton-home_____________*/

.bouton-home{
	position:fixed;
	bottom: 50px;
	right: 50px;
	height: 50px;
	width: 50px;
	border-radius: 100px;
	border: none;
	background: rgb(39,98,255);
	background: linear-gradient(142deg, rgba(39,98,255,1) 0%, rgba(0,175,240,1) 32%, rgba(172,235,255,1) 100%);
	z-index: 5;
}

.bouton-home > a {
	height: 100;
	width: 100%;
	font-size: 30px;
	color: white;
	text-decoration: none;
}

/*________________footer________________*/

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 100px;
	font-weight: 600;
}

footer a.cgv {
	text-decoration: none;
	color: black;
}