body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh; /* Ajustez selon vos besoins */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: black;
}

.titre-container {
    position: relative;
    /* border: inset black 1px; */
}

.slide-up {
  color: white;
  opacity: 0;
  transform: translateY(100%);
  animation: slideUp 2s ease-in-out forwards;
  margin: 0;
}

.cacheur {
    position: absolute;
    content:'';
    height: 100%;
    width: 100%;
    top: 105%;
    left: 0%;
    overflow: hidden;
    border-top: inset rgb(255, 255, 255) 1px;
    background: rgb(0, 0, 0);
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
