body {
    margin: 0;
    padding: 0;
    height: 400vh;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('img/wallpapers/Le\ Tombeau\ des\ Lucioles_1.jpg');
    background-repeat: repeat-y;
    background-position: center;
}

#content {
    margin-top: 500px; /* Ajustez cette valeur en fonction de la hauteur de votre image de fond */
}
