body {
    background-image: url("../images/index.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Inter', sans-serif;
}


/* -----------------------------Titre----------------------------- */


.titre {
    color:pink;
    text-align: center;
}


/*-----------------------------Menu-----------------------------*/

.menu {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    align-items: center;
}

.menu a{
    color: white;
    text-decoration: none;
    text-shadow: black 4px 4px 3px;
}

.menu a:hover {
    text-decoration: underline;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.h2-carte{
    color:white; 
}

.small-avatar {
    background-image: url("../images/b58.gif");
    height: 300px;
}

.big-avatar{
    height: 100px;
    width: 400px;
}

.carte{
    background : linear-gradient(-225deg,rgb(45,45,45,0.8), rgb(150,150,150,0.8)), url("../images/index.jpg");
    height : 250px;
    width: 500px;
    position: relative;
}

.titre-carte{
    font-family: 'Inter', sans-serif;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.container {
    display:flex;
    justify-content: center;
}